@font-face {
  font-family: BungeeShade;
  src:url("../fonts/Bungee_Shade/BungeeShade-Regular.ttf");
}

@font-face {
  font-family: Montserrat;
  src:url("../fonts/Montserrat/Montserrat-Italic.ttf");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: Montserrat;
  src:url("../fonts/Montserrat/Montserrat-Light.ttf");
  font-weight: lighter;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  src:url("../fonts/Montserrat/Montserrat-Bold.ttf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  src:url("../fonts/Montserrat/Montserrat-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

h4,h5,h6,p,a {
  font-family: Montserrat;
}

.logo {
  font-family: BungeeShade;
  font-size: 1.5rem;
  margin: 0px 0px 0.25rem 0px;
  color: #222222;
}

.logo-link {
  text-decoration: none;
}

.sub-logo {
  font-family: Montserrat;
  font-weight: lighter;
  margin: 0;
  color: #666;
}

.header-wrapper {
  padding: 1rem 1.5rem;
  margin: 1rem 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.header-wrapper__logo-wrapper {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
}

.header-wrapper__nav-wrapper {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  width: 100%;
}

.header-wrapper__nav-wrapper a {
  color: #056cF2;
  font-weight: bold;
  text-decoration: none;
}

.header-wrapper__nav-wrapper a:hover,.header-wrapper__nav-wrapper a:focus{
  text-decoration: underline;
}

@media screen and (min-width: 768px) {

  .logo {
    font-size: 3rem;
  }

  .header-wrapper__logo-wrapper {
    width: 60%;
  }
  
  .header-wrapper__nav-wrapper {
    width: 40%;
  }

  .header-wrapper {
    flex-flow: row nowrap;
    align-items: center;
  }
}